#customer-list {
    border: 2px solid salmon;
    display: flex;
    flex-wrap: wrap;

}

.customer {

    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 32%;
    background-color: rgb(82, 189, 154);
}